body {
    background-color: rgb(22 40 64);
    margin: 0px;
    overflow-x: hidden;
}

.title-bar {
    background-image: url(../Images/title-bar-background.svg);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    max-height: 500px;
}

.title-bar>.titlebox {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    justify-self: center;
}

.titlebox>.name {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: inherit;
}

.titlebox>.name>.description {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 29px;
}

.main {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 1fr 4px 4fr;
}

.main>.toc {
    display: flex;
    position: sticky;
    top: 0px;
    max-width: 450px;
    height: fit-content;
    /* border: 4px solid white; */
    border-radius: 10px;
    justify-self: center;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    font-family: 'Comfortaa', sans-serif;

    /* background-image: url(../Images/toc-background.svg); */
    color: white;
    font-size: 40px;
}

.toc>.list {
    text-align: left;
}

.toc-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.list>li {
    font-size: 30px;
}

.list>li>a {
    color: white;
    text-decoration: none;
}

.main>.vertical {
    background-color: white;
    padding-bottom: 10px;
}

.main>.informationbox {
    display: grid;
    height:fit-content;
    padding: 20px;
    justify-self: center;
    width: calc(100% - 40px);
    grid-template-rows: fit-content fit-content;
}

.informationbox>.learning,
.informationbox>.projects,
.informationbox>.helping {
    padding: 0px;
    height: fit-content;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    color: white;
}

.learning>.title,
.projects>.title,
.helping>.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    justify-self: center;
    font-size: 40px;
}

.learning>.title>ul,
.projects>.title>ul {
    padding:0px;
}

footer {
    background-image: url(../Images/footer-background.svg);
    height: 200px;
    overflow-y: hidden;
}